<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="/cv/image/icon.svg" rel="icon" type="image/svg+xml">
    <link href="/cv/tw.css" rel="stylesheet">
  </head>
  <body class="text-base font-light">
    <main class="mx-2 my-2 lg:mx-[10%] lg:mt-4 print:mx-0">
      {{ template "summary" . }}
      {{ template "achievements" . }}
      {{ template "employment" . }}
      {{ template "technologies" . }}
      {{ template "education" . }}
    </main>
  </body>
</html>

{{ define "summary" }}
<section id="summary">
  <div class="flex flex-row flex-wrap gap-y-2">

    <div class="basis-full max-lg:flex max-lg:justify-center lg:basis-1/12">
      <img src="/cv/{{ .Selfie }}" alt="Volodymyr Prokopyuk"
           class="max-lg:w-1/2 max-lg:rounded-full shadow-[0_0_1rem_rgb(64,64,64)]">
    </div>

    <div class="basis-full lg:basis-6/12 lg:pl-4">
      <h1 class="head1">{{ .Name }}</h1>
      <h2 class="head2">{{ .Role }}</h2>
      {{ range .Highlights }}
        <h3 class="block font-normal">{{ . }}</h3>
      {{ end }}
      <ul class="list">
        <li><a href="mailto:{{ .Email }}" class="link">{{ .Email }}</a></li>
        <li>
          <a href="tel:{{ .Phone | phone }}" class="link">
            {{ .Phone }}</a><span>, {{ .Location }}</span>
        </li>
        <li><a href="{{ .URL }}" class="link">{{ .URL }}</a></li>
        <li>
          <a href="{{ .LinkedIn }}" target="_blank" class="link">{{ .LinkedIn }}</a>
        </li>
      </ul>
    </div>

    <div class="lg:block lg:basis-3/12 lg:pl-4 print:basis-5/12">
      <h3 class="head3">Languages</h3>
      <ul class="list">{{ range .Languages }}<li>{{ . | md }}</li>{{ end }}</ul>
      <h3 class="head3">Industries</h3>
      <ul class="list">{{ range .Industries }}<li>{{ . | md }}</li>{{ end }}</ul>
    </div>

    <div class="hidden lg:block lg:basis-2/12 print:hidden">
      {{ if .Portfolio }}
        <a href="/cv/" class="portfolio">Summary</a>
      {{ else }}
        <a href="/cv/portfolio/" class="portfolio">Portfolio</a>
      {{ end }}
    </div>

    <div class="hidden lg:block lg:basis-1/12"></div>
    <div class="lg:block lg:basis-6/12 lg:pl-4">
      <p>{{ .Summary | md }}</p>
    </div>

    <div class="basis-full lg:basis-5/12 lg:pl-4">
      <h3 class="head3">Key capabilities</h3>
      <ul class="list">{{ range .Capabilities }}<li>{{ . }}</li>{{ end }} </ul>
    </div>

    <div class="hidden lg:block lg:basis-1/12"></div>
    <div class="hidden lg:block lg:basis-6/12 lg:pl-4">
      <ul class="list">
        {{ range .Profiles }}
          <li>
            <a href="/cv/{{ .URL }}" class="link">{{ .Name }}</a> by
            <a href="{{ .ProducerURL }}" target="_blank" class="link">
              {{ .Producer }}</a>,
            <span>{{ .Date }}</span>
          </li>
        {{ end }}
      </ul>
    </div>

  </div>
</section>
{{ end }}

{{ define "achievements" }}
{{ if .Portfolio }}
  <section id="achievements">
    <h1 class="head1 mt-4 mb-2">Achievements</h1>
      <div class="flex flex-row flex-wrap gap-y-4">
        {{ range .Achievements }}

          <div class="basis-full max-lg:flex max-lg:justify-center lg:basis-1/12
                      break-inside-avoid">
            <div class="max-lg:w-2/5">
              <img src="/cv/{{ .Logo }}" alt="Achievement logo">
              {{ if .AuxLogo }}
                <img src="/cv/{{ .AuxLogo }}" alt="Achievement auxiliary logo">
              {{ end }}
            </div>
          </div>

          <div class="basis-full max-lg:separator lg:basis-11/12 lg:pl-4">
            <h2 class="head2">{{ .Project }}</h2>
            <ul class="list">{{ range .STAR }}<li>{{ . | md }}</li>{{ end }}</ul>
          </div>

        {{ end }}
      </div>
  </section>
  {{ end }}
{{ end }}

{{ define "employment" }}
<section id="employment">
  <h1 class="head1 mt-4 mb-2">Employment</h1>
  <div class="flex flex-row flex-wrap gap-y-4">
    {{ range .Employment }}

      <div class="basis-full max-lg:flex max-lg:justify-center lg:basis-1/12
                  break-inside-avoid">
        <div class="max-lg:w-2/5">
          <img src="/cv/{{ .Logo }}" alt="Employment logo">
          {{ if .AuxLogo }}
            <img src="/cv/{{ .AuxLogo }}" alt="Employment auxiliary logo">
          {{ end }}
        </div>
      </div>

      <div class="basis-full max-lg:separator lg:basis-6/12 lg:pl-4">
        <h2 class="head2">{{ .Position }}</h2>
        <div class="subhead">{{ .Duration }}, {{ .Contract }}</div>
        <p>{{ .Summary | md }}</p>
      </div>

      <div class="hidden lg:block lg:basis-5/12 lg:pl-4">
        <div>
          <a href="{{ .URL }}"  target="_blank" class="company">
            {{ .Company }}</a><span>, {{ .Location }}</span>
        </div>
        <div class="subhead">{{ .Description }}</div>
        <div class="font-normal">{{ .Industry }}</div>
      </div>

      {{ if and $.Portfolio .Responsibilities }}
        <div class="hidden lg:block lg:basis-1/12"></div>

        <div class="hidden lg:block lg:basis-6/12 lg:pl-4">
          <h3 class="head3">Main responsibilities. Key projects and achievements</h3>
          <ul class="list">
            {{ range .Responsibilities }}<li>{{ . | md }}</li>{{ end }}
          </ul>
        </div>

        <div class="hidden lg:block lg:basis-5/12 lg:pl-4">
          <h3 class="head3">Skills and competencies</h3>
          <ul class="list mb-2">{{ range .Skills }}<li>{{ . }}</li>{{ end }}</ul>
          <h3 class="head3">Technologies</h3>
          {{ range .Technologies }}
            <span title="{{ .Desc }}" class="tag">{{ .Tech }}</span>
          {{ end }}
        </div>
      {{ end }}

    {{ end }}
  </div>
</section>
{{ end }}

{{ define "technologies" }}
{{ if .Portfolio }}
  <section id="technologies">
    <h1 class="head1 mt-4 mb-2">Technologies</h1>
    <div class="flex flex-row flex-wrap gap-y-4">
      {{ range .Technologies }}

        <div class="flex flex-col justify-between basis-4/12 break-inside-avoid
                    md:basis-3/12 lg:basis-2/12">
          <img src="/cv/{{ .Logo }}" alt="Technology logo"
               class="m-auto w-3/5 max-h-28 lg:w-1/2 lg:max-h-32">
          <div>
            <h3 class="font-medium text-center">{{ .Tech }}</h3>
            <p class="text-sm text-center">{{ .Desc }}</p>
          </div>
        </div>

      {{ end }}
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "education" }}
<section id="education">
  <h1 class="head1 mt-4 mb-2">Education</h1>
  <div class="flex flex-row flex-wrap gap-y-4">
    {{ range .Education }}

      <div class="basis-full max-lg:flex max-lg:justify-center lg:basis-1/12
                  break-inside-avoid">
        <div class="max-lg:w-2/5">
          <img src="/cv/{{ .Logo }}" alt="Education logo">
        </div>
      </div>

      <div class="basis-full max-lg:separator lg:basis-6/12 lg:pl-4">
        {{ range .Courses }}
          <h2 class="head2">{{ .Title }}</h2>
          <div class="subhead">{{ .Duration }}</div>
        {{ end }}
      </div>

      <div class="hidden lg:block lg:basis-5/12 lg:pl-4">
        <a href="{{ .URL }}" target="_blank" class="company">
          {{ .Center }}</a><span>, {{ .Location }}</span>
      </div>

    {{ end }}
  </div>
</section>
{{ end }}
