<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="tw.css" rel="stylesheet">
  </head>
  <body class="text-sm font-light lg:text-base">
    <main>
      {{ template "summary" . }}
      {{ template "achievements" .Achievements }}
      {{ template "employment" .Employment }}
      {{ template "education" .Education }}
    </main>
  </body>
</html>

{{ define "summary" }}
<section id="summary">
  <div class="flex flex-row flex-wrap gap-y-2">

    <div id="selfie" class="basis-1/4 pt-1 pl-1 lg:basis-1/12 lg:order-1">
      <img src="{{ .Selfie }}" alt="Volodymyr Prokopyuk">
    </div>

    <div id="contacts" class="basis-3/4 px-2 lg:basis-7/12 lg:order-2">
      <h1 class="head1">{{ .Name }}</h1>
      <h2 class="head2">{{ .Role }}</h2>
      <h3 class="hidden lg:block">{{ .Industries }}</h3>
      <ul class="list">
        <li><a href="mailto:{{ .Email }}" class="link">{{ .Email }}</a></li>
        <li>
          <a href="tel:{{ .Phone | phone }}" class="link">
            {{ .Phone }}</a><span>, {{ .Location }}</span>
        </li>
        <li><a href="{{ .URL }}" class="link">{{ .URL }}</a></li>
        <li>
          <a href="{{ .LinkedIn }}" target="_blank" class="link">
            {{ .LinkedIn }}</a>
        </li>
      </ul>
    </div>

    <div id="capabilities" class="basis-full px-2 lg:basis-4/12 lg:order-6">
      <h3 class="head3">Key capabilities</h3>
      <ul class="list">{{ range .Capabilities }}<li>{{ . }}</li>{{ end }} </ul>
    </div>

    <div class="hidden lg:block lg:basis-1/12 lg:order-4"></div>
    <div id="introduction" class="hidden px-2
             lg:block lg:basis-7/12 lg:order-5">
      <p>{{ .Summary | md }}</p>
    </div>

    <div id="langauges" class="hidden px-2
             lg:block basis-4/12 lg:basis-4/12 lg:order-3">
      <h3>Languages</h3>
      <ul class="list">{{ range .Languages }}<li>{{ . | md }}</li>{{ end }}</ul>
    </div>

    <div class="hidden lg:block lg:basis-1/12 lg:order-7"></div>
    <div id="profiles" class="hidden px-2 lg:block lg:basis-7/12 lg:order-8">
      <ul class="list">
        {{ range .Profiles }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a> by
            <a href="{{ .ProducerURL }}" target="_blank">{{ .Producer }}</a>,
            <span>{{ .Date }}</span>
          </li>
        {{ end }}
      </ul>
    </div>

  </div>
</section>
{{ end }}

{{ define "achievements" }}
<section id="achievements">
  <h1 class="head1 mt-4 mb-2 pl-2">Achievements</h1>
    <div class="flex flex-row flex-wrap gap-y-4">
      {{ range . }}

        <div class="basis-full max-lg:flex max-lg:justify-center lg:basis-1/12">
          <div class="max-lg:w-2/5">
            <img src={{ .Logo }}>
            {{ if .AuxLogo }}<img src="{{ .AuxLogo }}">{{ end }}
          </div>
        </div>

        <div class="basis-full px-2 separator lg:basis-11/12">
          <h2 class="head2">{{ .Project }}</h2>
          <ul class="list">{{ range .STAR }}<li>{{ . | md }}</li>{{ end }}</ul>
        </div>

      {{ end }}
    </div>
</section>
{{ end }}

{{ define "employment" }}
<section id="employment">
  <h1 class="head1 mt-4 mb-2 pl-2">Employment</h1>
  <div class="flex flex-row flex-wrap gap-y-4">
    {{ range . }}

      <div class="basis-full max-lg:flex max-lg:justify-center lg:basis-1/12">
        <div class="max-lg:w-2/5">
          <img src="{{ .Logo }}">
          {{ if .AuxLogo }}<img src="{{ .AuxLogo }}">{{ end }}
        </div>
      </div>

      <div class="basis-full px-2 separator lg:basis-7/12">
        <h2 class="head2">{{ .Position }}</h2>
        <span class="hidden lg:block">({{ .Contract }})</span>
        <div class="duration">{{ .Duration }}</div>
        <p>{{ .Summary | md }}</p>
      </div>

      <div class="hidden lg:block px-2 lg:basis-4/12">
        <div>
          <a href="{{ .URL }}"  target="_blank">
            {{ .Company }}</a><span>, {{ .Location }}</span>
        </div>
        <div>{{ .Description }}</div>
        <div>{{ .Industry }}</div>
      </div>

      <div class="hidden lg:block lg:basis-1/12"></div>

      <div class="hidden px-2 lg:block lg:basis-7/12">
        <h3>Main responsibilities. Key projects and achievements</h3>
        <ul class="list">{{ range .Responsibilities }}<li>{{ . | md }}</li>{{ end }}</ul>
      </div>

      <div class="hidden px-2 lg:block lg:basis-4/12">
        <h3>Skills and competencies</h3>
        <ul class="list">{{ range .Skills }}<li>{{ . }}</li>{{ end }}</ul>
        <h3>Technologies</h3>
        {{ range .Technologies }}
          <span title="{{ .Desc }}">{{ .Tech }}</span>
        {{ end }}
      </div>

    {{ end }}
  </div>
</section>
{{ end }}

{{ define "education" }}
<section id="education">
  <h1 class="head1 mt-4 mb-2 pl-2">Education</h1>
  <div class="flex flex-row flex-wrap gap-y-4">
    {{ range . }}

      <div class="basis-full max-lg:flex max-lg:justify-center lg:basis-1/12">
        <div class="max-lg:w-2/5">
          <img src="{{ .Logo }}">
        </div>
      </div>

      <div class="basis-full px-2 separator lg:basis-7/12">
        {{ range .Courses }}
          <h2 class="head2">{{ .Title }}</h2>
          <div class="duration">{{ .Duration }}</div>
        {{ end }}
      </div>

      <div class="hidden px-2 lg:block lg:basis-4/12">
        <a href="{{ .URL }}" target="_blank">
          {{ .Center }}</a><span>, {{ .Location }}</span>
      </div>

    {{ end }}
  </div>
</section>
{{ end }}
