<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="tw.css" rel="stylesheet">
  </head>
  <body>
    <main>
      {{ template "summary" . }}
      {{ template "achievements" .Achievements }}
      {{ template "employment" .Employment }}
      {{ template "education" .Education }}
    </main>
  </body>
</html>

{{ define "summary" }}
<section id="summary">
  <div class="flex flex-row flex-wrap">

    <div id="selfie" class="basis-1/4 lg:basis-1/12 lg:order-1">
      <img src="{{ .Selfie }}" alt="Volodymyr Prokopyuk">
    </div>

    <div id="contacts" class="basis-3/4 lg:basis-7/12 lg:order-2">
      <h1>{{ .Name }}</h1>
      <h2>{{ .Role }}</h2>
      <h3 class="hidden lg:block">{{ .Industries }}</h3>
      <ul>
        <li><a href="mailto:{{ .Email }}">{{ .Email }}</a></li>
        <li>
          <a href="tel:{{ .Phone | phone }}">
            {{ .Phone }}</a><span>, {{ .Location }}</span>
        </li>
        <li><a href="{{ .URL }}">{{ .URL }}</a></li>
        <li><a href="{{ .LinkedIn }}" target="_blank">{{ .LinkedIn }}</a></li>
      </ul>
    </div>

    <div id="capabilities" class="basis-full lg:basis-4/12 lg:order-5">
      <h3>Key capabilities</h3>
      <ul>{{ range .Capabilities }}<li>{{ . }}</li>{{ end }}</ul>
    </div>

    <div id="introduction" class="hidden lg:block lg:basis-8/12 lg:order-4">
      <p>{{ .Summary | md }}</p>
    </div>

    <div id="langauges" class="hidden lg:block bases-4/12 lg:basis-4/12 lg:order-3">
      <h3>Languages</h3>
      <ul>{{ range .Languages }}<li>{{ . | md }}</li>{{ end }}</ul>
    </div>

    <div id="profiles" class="hidden lg:block lg:basis-8/12 lg:order-6">
      <ul>
        {{ range .Profiles }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a> by
            <a href="{{ .ProducerURL }}" target="_blank">{{ .Producer }}</a>,
            <span>{{ .Date }}</span>
          </li>
        {{ end }}
      </ul>
    </div>

  </div>
</section>
{{ end }}

{{ define "achievements" }}
<section id="achievements">
  <h1>Achievements</h1>
    <div class="flex flex-row flex-wrap">
      {{ range . }}

        <div class="basis-full lg:basis-1/12">
          <img src={{ .Logo }}>
          {{ if .AuxLogo }}<img src="{{ .AuxLogo }}">{{ end }}
        </div>

        <div class="basis-full lg:basis-11/12">
          <h2>{{ .Project }}</h2>
          <ul>{{ range .STAR }}<li>{{ . | md }}</li>{{ end }}</ul>
        </div>

      {{ end }}
    </div>
</section>
{{ end }}

{{ define "employment" }}
<section id="employment">
  <h1>Employment</h1>
  <div class="flex flex-row flex-wrap">
    {{ range . }}

      <div class="basis-full lg:basis-1/12">
        <img src="{{ .Logo }}">
        {{ if .AuxLogo }}<img src="{{ .AuxLogo }}">{{ end }}
      </div>

      <div class="basis-full lg:basis-7/12">
        <h2>{{ .Position }}</h2><span>({{ .Contract }})</span>
        <div>{{ .Duration }}</div>
        <p>{{ .Summary | md }}</p>
      </div>

      <div class="hidden lg:block lg:basis-4/12">
        <div>
          <a href="{{ .URL }}"  target="_blank">
            {{ .Company }}</a><span>, {{ .Location }}</span>
        </div>
        <div>{{ .Description }}</div>
        <div>{{ .Industry }}</div>
      </div>

      <div class="hidden lg:block lg:basis-1/12"></div>

      <div class="hidden lg:block lg:basis-7/12">
        <h3>Main responsibilities. Key projects and achievements</h3>
        <ul>{{ range .Responsibilities }}<li>{{ . | md }}</li>{{ end }}</ul>
      </div>

      <div class="hidden lg:block lg:basis-4/12">
        <h3>Skills and competencies</h3>
        <ul>{{ range .Skills }}<li>{{ . }}</li>{{ end }}</ul>
        <h3>Technologies</h3>
        {{ range .Technologies }}
          <span title="{{ .Desc }}">{{ .Tech }}</span>
        {{ end }}
      </div>

    {{ end }}
  </div>
</section>
{{ end }}

{{ define "education" }}
<section id="education">
  <h1>Education</h1>
  <div class="flex flex-row flex-wrap">
    {{ range . }}

      <div class="basis-full lg:basis-1/12">
        <img src="{{ .Logo }}">
      </div>

      <div class="bases-full lg:basis-7/12">
        {{ range .Courses }}
          <h2>{{ .Title }}</h2>
          <div>{{ .Duration }}</div>
        {{ end }}
      </div>

      <div class="hidden lg:block lg:basis-4/12">
        <a href="{{ .URL }}" target="_blank">
          {{ .Center }}</a><span>, {{ .Location }}</span>
      </div>

    {{ end }}
  </div>
</section>
{{ end }}
