@import "style/modern-normalize.min.css";

@font-face {
  font-family: NotoSansDisplay;
  src: url("style/NotoSansDisplay-VariableFont_wdth,wght.ttf") format("ttf");
}

body {
  font-family: NotoSansDisplay, sans-serif;
  font-size: 1.10em;
  line-height: 1.35em;
  font-weight: 300;
}

h1 {
  font-size: 1.50em;
  font-weight: 600;
  margin: 0.6em auto;
}
h2 {
  font-size: 1.35em;
  font-weight: 500;
  margin: 0.4em auto;
  display: inline;
}
h3{
  font-size: 1.20em;
  font-weight: 400;
  margin: 0.6em auto 0.2em;
}

a {
  text-decoration: none;
}
.rside a {
  font-size: 1.15em;
  font-weight: 400;
}

p {
  margin: 0.3em auto;
}
ul {
  margin: 0.3em auto;
  padding-left: 1em;
}
.duration, .description {
  font-weight: 400;
  font-style: italic;
  color: gray;
}
.industry {
  font-weight: 400;
  font-style: italic;
}
.rside {
  text-align: right;
}
#summary .fact .rside,
#employment .fact.detail .rside {
  text-align: left;
}
#summary .lside img {
  filter: drop-shadow(0.5rem 0.5rem 0.5rem gray);
}
#toggle {
  position: sticky;
  top: 0;
  left: 0;
  width: calc(10% - 1em);
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background-color: aquamarine;
  font-weight: 300;
}

@media screen {
  main {
    width: 80%;
    margin: auto;
  }
}

@media print {
  body {
    font-size: 0.6em;
  }
  #toggle {
    display: none;
  }
  div {
    break-inside: avoid;
  }
}

span {
  white-space: nowrap;
}

img {
  width: 8vw;
}

.fact {
  display: flex;
}
.lside {
  flex-basis: 10%;
}
.main {
  flex-basis: 50%;
}
.rside {
  flex-basis: 40%;
}
.lmain {
  flex-basis: 60%;
}

.fact.detail {
  display: none;
  margin: 0.2em 0;
}
.fact.title {
  margin-top: 1.2em;
}
.main {
  margin: 0 1em;
}
.lmain {
  margin-right: 2em;
}
.tech {
  line-height: 2em;
  margin-right: 0.2em;
  padding: 0 0.2em;
  background: blanchedalmond;
  border-radius: 0.2em;
  border: thin solid gray;
}

/* .lside, .main, .rside, .lmain { */
/*   border: thin solid black; */
/* } */
