{% extends "master.njk" %}

{% block summary %}
  <section id="summary">
    <div class="fact title">
      <div class="lside selfie">
        <img src="{{cv.selfie}}">
      </div>
      <div class="main">
        <h1>{{cv.name}}</h1>
        <h2>{{cv.role}}</h2>
        <div class="industry">{{cv.industries}}</div>
        <div class="email"><a href="mailto:{{cv.email}}">{{cv.email}}</a></div>
        {% set phone = cv.phone.replace("[^\\d\\+]", "") %}
        <div class="phone">
          <a href="tel:{{phone}}">{{cv.phone}}</a><span class="location">,
            {{cv.location}}</span>
        </div>
        <div class="url">
          <a href="{{cv.url}}">{{cv.url}}</a>
        </div>
        <div class="url">
          <a href="{{cv.linkedin}}" target="_blank">{{cv.linkedin}}</a>
        </div>
      </div>
      <div class="rside">
        <h3>Languages</h3>
        <ul class="languages">
          {% for lang in cv.languages %}<li>{{lang | md}}</li>{% endfor %}
        </ul>
      </div>
    </div>
    <div class="fact summary">
      <div class="lmain">
        <p class="summary">{{cv.summary | md}}</p>
      </div>
      <div class="rside">
        <h3>Key capabilities</h3>
        <ul class="capabilities">
          {% for cap in cv.keyCapabilities %}<li>{{cap}}</li>{% endfor %}
        </ul>
      </div>
    </div>
    <div class="fact profiles">
      <div class="lmain">
        <ul>
          {% for pr in cv.profiles %}
            <li>
              <a href="{{pr.url}}">{{pr.name}}</a>
              by
              <a href="{{pr.producerUrl}}" target="_blank">{{pr.producer}}</a>,
              <span class="duration">{{pr.date}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}

{% block achievements %}
  <section id="achievements">
    <h1>Achievements</h1>
    {% for ach in cv.achievementsList %}
      <div class="fact title">
        <div class="lside logo">
          <img src={{ach.logo}}>
          {% if ach.auxlogo %}<img src="{{ach.auxlogo}}">{% endif %}
        </div>
        <div class="rmain">
          <h2>{{ach.project}}</h2>
            <ul class="achievements">
              {% for st in ach.start %}<li>{{ st | md }}</li>{% endfor %}
            </ul>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}

{% block employment %}
  <section id="employment">
    <h1>Employment</h1>
    {% for em in cv.employmentList %}
      <div class="fact title">
        <div class="lside logo">
          <img src="{{em.logo}}">
          {% if em.auxlogo %}<img src="{{em.auxlogo}}">{% endif %}
        </div>
        <div class="main">
          <h2>{{em.position}}</h2><span class="contract">
            ({{em.contract}})</span>
          <div class="duration">{{em.duration}}</div>
          <p class="summary">{{em.summary | md}}</p>
        </div>
        <div class="rside">
          <div class="url">
            <a href="{{em.url}}"  target="_blank">
              {{em.company}}</a><span class="location">, {{em.location}}</span>
          </div>
          <div class="description">{{em.description}}</div>
          <div class="industry">{{em.industry}}</div>
        </div>
      </div>
      {% if em.responsibilities.length != 0 %}
        <div class="fact detail">
          <div class="lside"></div>
          <div class="main">
            <h3>Main responsibilities. Key projects and achievements</h3>
            <ul class="responsibilities">
              {% for resp in em.responsibilities %}
                <li>{{resp | md}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="rside">
            <h3>Skills and competencies</h3>
            <ul class="skills">
              {% for skill in em.skills %}<li>{{skill}}</li>{% endfor %}
            </ul>
            <h3>Technologies</h3>
            {% for tech in em.technologies %}
              <span class="tech" title="{{tech.desc}}">{{tech.tech}}</span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </section>
{% endblock %}

{% block education %}
  <section id="education">
    <h1>Education</h1>
    {% for ed in cv.educationList %}
      <div class="fact title">
        <div class="lside logo">
          <img src="{{ed.logo}}">
        </div>
        <div class="main">
          {% for course in ed.courses %}
            <h2>{{course.title}}</h2>
            <div class="duration">{{course.duration}}</div>
          {% endfor %}
        </div>
        <div class="rside url">
          <a href="{{ed.url}}" target="_blank">
            {{ed.center}}</a><span class="location">, {{ed.location}}</span>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
